@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    min-width: 0;
  }
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg; /*or text-lg */
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
  
  .markdown h2, .markdown h3, .markdown h4 {
    @apply mt-11;
  }
  
  .markdown h5, .markdown h6 {
    @apply mt-8;
  }
  
  .markdown p {
    @apply my-4;
  }

  h1, h2, h3, h4, h5, h6, p {
    @apply mb-2;
  }
  body {
    @apply bg-blue-500;
  }
}
